*{
    margin: 0;
    padding: 0;

}

img{

    width: 100%;
}

.card{
    /* border: 1px solid ; */
    width: 250px;
}

.card-title{
    font-size: 24px;
}
.btn{
    color: aqua;
    text-decoration: none;
    background-color: rgb(7, 7, 7);
    padding: 10px 5px;
    border-radius: 99px;
   
}

.card-body{
    border: 1px solid ;
    padding-bottom: 50px;

}